body {
    font-family: 'IBM Plex Mono';
    font-size: 18px;
    padding-top: 120px;
    margin: 0;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
}

.header {
    background: #fff;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 0;
    z-index: 1;
    padding: 10px 0;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    align-items: center;
}

.brand {
    max-width: 120px;
}

.nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav li {
    background-color: #ff5c5c;
    display: inline-block;
}

.nav a {
    color: #fff;
    display: block;
    padding: 5px;
    text-decoration: none;
}

.nav a:hover {
    color: gray;

}

.nav a.active {
    color: #fff;
    background: gray;
}

.name {
    padding: 7px;
}

.name-title {
    text-align: center;
    font-size: 30px;
}


.photo-banner {
    background-color: #ff5c5c;
    width: 500px;
    display: block;
    max-width: 100%;
    margin: 0 auto;
    border-radius: 8px;
}

.lastest-projects-home {
    background-color: #ff5c5c;
    color: #fff;
    padding: 50px;
    position: center;
}

.logo-project {
    width: 30px;
    height: 30px;
}

.text-about-home {
    text-align: center;
}

.project {
    Width: 800px;
    Height: 57px;
    Top: 156px;
    Left: 283px; 
    Blend: Pass through;
}

.footer {
    color: #fff;
    background: grey;
    padding: 30px 0;
    text-align: center;
}

.footer-container {
    display: block;
    justify-content: center;
}

.footer-contact a {
    display: block;
    color: #fff;
    text-decoration: none;
}

.footer-social-medias {}

.social-medias li {
    display: inline-block;
}

.social-meidas a {
    display: block;
    font-size: 25px;
    padding: 20px 10px;

}

.logo-socialmedia {
    width: 20px;
    padding: 10px;
}

.footer-contact address {
    margin-bottom: 20px;
}

.copyright {
    font-size: 12px;
    margin-top: 20px;
}

@media screen and (min-width: 768px) {
    body {
        padding-top: 80px;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
    }

    .nav a {
        padding: 20px 10px;
    }
}